@charset "UTF-8";

:root{

    --fonte1: Verdana, geneva, tahoma, sans-serif;
    --fonte2: 'Roboto slab', serif;


    --cor1: #8cb9b6;
    --cor2: #5f2c82;
}

@media screen and (min-width: 1200px){

    body {
        background-image: linear-gradient(to top, #328b85, #5f2c82);
    }
   
    section#login {
        width: 80vw;
        height: 420px;
    }
    #imagem {
        float: right;
        width: 40%;
        height: 100%;
        background-image: url(../imagens/PC-TV.jpg);
        display: block;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
    }

    #formulario {
        float: left;
        width: 60%;
        height: 100%;
    }

    #formulario > h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    #formulario > p {
        font-size: 1em;
        margin-bottom: 20px;
    }

   #formulario input.txt {
    width: 94%;
   }

   #email input.txt {
    width: 94%;    
   }
   
   #enviar input{
    width: 100%;
   }

}