@charset "UTF-8";

:root{

    --fonte1: Verdana, geneva, tahoma, sans-serif;
    --fonte2: 'Roboto slab', serif;


    --cor1: #8cb9b6;
    --cor2: #5f2c82;
}


@media screen and (min-width:768px) and (max-width: 1200px){
    body {
        background-image: linear-gradient(to top,#328b85, #5f2c82);
    }

    section#login {
        width: 72vw;
        height: 362px;
        
    }

    #imagem{
        background-image: url(../imagens/tamanhoMedio.jpg);
        display: block;
        float: left;
        width: 30%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }

   #formulario {
    width: 70%;
    float: right;
   }

   #formulario input.txt{
    width: 90%;
   }

  #enviar input {
    width: 100%;
  }


























}


